html {
  height: 100%; }

body {
  height: 100%;
  color: #c2c2c2;
  font-family: "Lucida Grande", Arial, sans-serif;
  background: #44444a url("/img/bg.png") repeat 0 0;
  margin: 0;
  padding: 0; }
  body #flow {
    height: 100%; }
    body #flow a,
    body #flow a:visited {
      color: #c2c2c2;
      text-decoration: none; }
    body #flow a:hover {
      color: #eeeeee; }
    body #flow ul {
      margin: 0;
      padding: 0;
      list-style-position: inside;
      list-style-type: circle; }
    body #flow #domain {
      position: relative;
      width: 960px;
      margin: 0 auto;
      padding: 150px 0 0;
      text-align: center; }
      body #flow #domain p {
        margin: 0 0 10px 0;
        text-shadow: 0px 1px 1px #555555;
        color: #333333;
        font: 50px "LeagueGothicRegular";
        text-transform: uppercase; }
      body #flow #domain .i {
        margin-bottom: 20px; }
        body #flow #domain .i input[type=text] {
          width: 280px;
          height: 30px;
          font-size: 18px;
          padding: 2px 10px;
          border-radius: 3px;
          background: rgba(255, 255, 255, 0.85);
          box-shadow: inset 0 0 10px #888888;
          border: 1px solid #555555;
          color: #555555; }
          body #flow #domain .i input[type=text]:focus {
            outline-color: #5599cc;
            box-shadow: none; }
          body #flow #domain .i input[type=text].error {
            outline-color: #883333; }
          body #flow #domain .i input[type=text]::-webkit-input-placeholder {
            color: #bbbbbb;
            text-shadow: 1px 1px 1px white; }
      body #flow #domain button {
        width: 300px;
        padding: 0;
        border-radius: 3px;
        background: #aabbcc;
        border: 1px solid #888888;
        height: 36px; }
        body #flow #domain button:hover {
          background: #bbccdd;
          cursor: pointer; }
          body #flow #domain button:hover span {
            box-shadow: inset 0 2px 0 #ccddee; }
        body #flow #domain button span {
          display: block;
          margin: 0 auto;
          font-size: 18px;
          color: #555555;
          height: 32px;
          line-height: 32px;
          width: 296px;
          border-radius: 2px;
          box-shadow: inset 0 2px 0 #bbccdd; }
    body #flow #top {
      width: 100%;
      line-height: 50px;
      background-color: #4d4d52;
      background-color: rgba(125, 125, 125, 0.2);
      border-bottom: 1px solid #555555;
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); }
      body #flow #top > div {
        width: 960px;
        margin: 0 auto;
        overflow: auto; }
        body #flow #top > div ul.menu {
          float: left; }
          body #flow #top > div ul.menu li {
            display: inline-block; }
            body #flow #top > div ul.menu li a {
              padding: 0 30px;
              display: inline-block;
              color: #3a3a3a;
              text-shadow: 0px 1px 1px #666666;
              font-weight: bold;
              font-size: 18px; }
              body #flow #top > div ul.menu li a:first-child {
                padding: 0 30px 0 0; }
              body #flow #top > div ul.menu li a:hover {
                color: #222222; }
            body #flow #top > div ul.menu li.active a {
              color: #222222; }
        body #flow #top > div .domain {
          float: right; }
          body #flow #top > div .domain p {
            position: relative;
            margin: 7px 0;
            line-height: 20px;
            padding: 8px 20px;
            cursor: default;
            border-radius: 3px;
            border: 1px solid #585858;
            background: rgba(125, 125, 125, 0.15);
            text-shadow: -1px -1px 1px #222222; }
            body #flow #top > div .domain p .delete {
              position: absolute;
              line-height: normal;
              right: 0;
              top: 0;
              font-size: 12px;
              width: 15px;
              height: 15px;
              padding: 1px;
              text-align: center;
              color: #888888;
              text-shadow: none; }
              body #flow #top > div .domain p .delete:hover {
                border-radius: 3px;
                border: 1px solid #c2c2c2;
                background: rgba(255, 0, 0, 0.4);
                padding: 0px;
                color: #cccccc; }
    body #flow #content {
      width: 960px;
      margin: 0 auto; }
      body #flow #content .section {
        margin: 50px 0; }

#dashboard p, #dashboard h1 {
  text-shadow: 0px 1px 1px #555555;
  color: #333333;
  font: "LeagueGothicRegular"; }
#dashboard .details {
  float: left;
  margin: 0 30px 10px 0;
  height: 70px;
  width: 190px;
  border-right: 1px solid #666666; }
  #dashboard .details p {
    color: #c2c2c2;
    font-size: 16px;
    margin: 0 0 5px 0;
    text-shadow: -1px -1px 1px #222222; }
#dashboard .layout-container {
  float: left;
  padding-top: 20px;
  margin-right: 30px; }
  #dashboard .layout-container a {
    margin-right: 10px;
    padding: 3px 8px;
    float: left;
    text-shadow: -1px -1px 1px #222222; }
    #dashboard .layout-container a.active {
      background: #666666;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #444444), color-stop(0.4, #666666));
      border-radius: 3px;
      border: 1px solid #333333;
      text-shadow: -1px -1px 0 #444444;
      font-size: 16px; }
      #dashboard .layout-container a.active:hover {
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #555555), color-stop(0.4, #777777));
        color: #dddddd; }
#dashboard .scc-container {
  float: left;
  padding-top: 20px; }
#dashboard .scc-container .desc,
#dashboard .layout-container .desc {
  color: #c2c2c2;
  text-shadow: -1px -1px 1px #222222;
  margin: 0;
  padding-top: 10px;
  text-align: center; }
#dashboard .layout-container .desc {
  clear: both; }
#dashboard .slider-alpha-container,
#dashboard .slider-beta-container {
  float: left;
  margin: 0 30px 10px 0;
  padding-top: 20px; }
  #dashboard .slider-alpha-container p,
  #dashboard .slider-beta-container p {
    font-size: 16px;
    margin: 10px 0;
    color: #c2c2c2;
    text-shadow: -1px -1px 1px #222222;
    text-align: center; }
    #dashboard .slider-alpha-container p.coefficient,
    #dashboard .slider-beta-container p.coefficient {
      font-size: 16px;
      margin: 0 0 5px 0; }
  #dashboard .slider-alpha-container .slider,
  #dashboard .slider-beta-container .slider {
    width: 200px;
    height: 26px;
    position: relative;
    margin-bottom: 10px;
    background-color: #333333;
    box-shadow: inset 0 2px 5px 0px #222222;
    border-radius: 3px;
    cursor: pointer; }
    #dashboard .slider-alpha-container .slider .ui-slider-handle,
    #dashboard .slider-beta-container .slider .ui-slider-handle {
      width: 34px;
      height: 24px;
      position: absolute;
      top: 0px;
      margin-left: -15px;
      outline: none;
      border-radius: 3px;
      box-shadow: inset 1px 1px 1px #cccccc;
      border: 1px solid #222222;
      background: #aaaaaa;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #888888), color-stop(0.5, #dddddd), color-stop(1, #888888)); }
      #dashboard .slider-alpha-container .slider .ui-slider-handle.ui-state-hover,
      #dashboard .slider-beta-container .slider .ui-slider-handle.ui-state-hover {
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #999999), color-stop(0.5, #eeeeee), color-stop(1, #999999)); }
    #dashboard .slider-alpha-container .slider .ui-widget-header,
    #dashboard .slider-beta-container .slider .ui-widget-header {
      height: 24px;
      left: 1px;
      top: 1px;
      position: absolute;
      border-radius: 3px;
      background: #666666;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #444444), color-stop(0.4, #666666)); }
#dashboard svg {
  background: rgba(0, 0, 0, 0.15);
  width: 960px;
  height: 600px; }
  #dashboard svg .node {
    stroke: #cccccc;
    stroke-width: 1.5px;
    stroke-opacity: 0.8; }
  #dashboard svg .link {
    stroke: #aaaaaa;
    stroke-opacity: 0.5; }
#dashboard button.switch {
  position: relative;
  color: #c2c2c2;
  cursor: pointer;
  height: 26px;
  text-shadow: -1px -1px 0 #444444;
  font-size: 14px;
  border: 1px solid #333333;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: inset 0 0 5px #555555;
  width: 80px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #555555), color-stop(0.4, #777777)); }
  #dashboard button.switch > span {
    padding: 0;
    border-radius: 0; }
  #dashboard button.switch .toggle {
    position: absolute;
    z-index: 3;
    top: -1px;
    bottom: -1px;
    left: 44px;
    width: 11px;
    padding: 6px 11px 5px;
    border: 1px solid #222222;
    border-radius: 3px;
    box-shadow: inset 1px 1px 1px #cccccc;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #888888), color-stop(0.5, #dddddd), color-stop(1, #888888)); }
    #dashboard button.switch .toggle:hover {
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #999999), color-stop(0.5, #eeeeee), color-stop(1, #999999)); }
  #dashboard button.switch .off-bg, #dashboard button.switch .off-text {
    position: absolute;
    z-index: 2;
    padding: 4px 12px 0 15px;
    top: 0;
    bottom: 0; }
  #dashboard button.switch .off-bg {
    right: 0;
    width: 0;
    border-color: #333333;
    border-radius: 3px 0 0 3px;
    box-shadow: inset 0 2px 5px 0px #222222;
    background: #333333; }
  #dashboard button.switch .off-text {
    right: -5px;
    color: #222222;
    text-shadow: 0 1px 1px #444444; }
  #dashboard button.switch .on {
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 13px; }
  #dashboard button.switch.off .toggle {
    left: -1px; }
  #dashboard button.switch.off .off-bg {
    width: 60px; }
  #dashboard button.switch.off .off-text {
    right: -2px; }

.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  border-radius: 2px;
  border: 1px solid #333333;
  background: rgba(0, 0, 0, 0.6);
  color: #c2c2c2;
  padding: 10px;
  width: 250px;
  font-size: 12px;
  z-index: 10;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  .tooltip p.main {
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin: 0 0 10px 0;
    color: #eeeeee; }
  .tooltip p.link {
    color: #bbbbbb;
    margin: 0 0 5px 0;
    padding: 0; }
  .tooltip p.line {
    margin: 0 0 10px 0;
    padding: 0;
    border-bottom: 1px solid #666666; }

#pageviews h1 {
  text-shadow: 0px 1px 1px #555555;
  color: #333333;
  font: "LeagueGothicRegular"; }
#pageviews .tile {
  min-height: 100px;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 5px 0px #333333;
  border: 1px solid #333333;
  border-radius: 3px;
  padding: 25px;
  margin-bottom: 20px; }
  #pageviews .tile p {
    margin-top: 0; }
  #pageviews .tile li {
    margin: 5px 0; }
  #pageviews .tile .area {
    fill: #1f77b4;
    stroke: white; }
  #pageviews .tile .axis path, #pageviews .tile .axis line {
    fill: none;
    stroke: #888888;
    shape-rendering: crispEdges; }
  #pageviews .tile .axis .tick text {
    fill: #888888; }

#pageflows h1 {
  text-shadow: 0px 1px 1px #555555;
  color: #333333;
  font: "LeagueGothicRegular"; }
#pageflows .tile {
  min-height: 100px;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 5px 0px #333333;
  border: 1px solid #333333;
  border-radius: 3px;
  padding: 25px;
  margin-bottom: 20px; }
  #pageflows .tile p {
    margin-top: 0; }
  #pageflows .tile li {
    margin: 5px 0; }
  #pageflows .tile .area {
    fill: #1f77b4;
    stroke: white; }
  #pageflows .tile .axis path, #pageflows .tile .axis line {
    fill: none;
    stroke: #888888;
    shape-rendering: crispEdges; }
  #pageflows .tile .axis .tick text {
    fill: #888888; }
