.section#dashboard
	.details
		p Nodes: 
			span.nodes-count 
		p Pageflows count: &ge; 
			span.pageflows-threshold
		p Pageviews count: &ge; 
			span.pageviews-threshold
	.slider-alpha-container
		#slider-alpha.slider
		p.coefficient Pageflows - alpha: 
			span.value 0.2
	.slider-beta-container
		#slider-beta.slider
		p.coefficient Pageviews - beta: 
			span.value 0.2
	.layout-container
		a#random.active(href="") Random
		a#radial(href="") Radial
	.scc-container
		a#scc(href="") SCC
	.chart
		svg