.section#dashboard
	h1 Dashboard
	.slider-alpha-container
		p.threshold Pageflows count threshold: 
			span.value 2
		#slider-alpha.slider
		p.coefficient Alpha coefficient: 
			span.value 0.2
	.slider-beta-container
		p.threshold Pageviews count threshold: 
			span.value 42
		#slider-beta.slider
		p.coefficient Beta coefficient: 
			span.value 0.2