.pageflows-basic
	if isEmpty
		p There are no records
	else
		p pageflows - categories list
		ul
			li
				a(href='/pageflows/1-5') 1&ndash;5 pageflows
			li
				a(href='/pageflows/6-10') 6&ndash;10 pageflows
			li
				a(href='/pageflows/11-50') 11&ndash;50 pageflows
			li
				a(href='/pageflows/51-100') 51&ndash;100 pageflows
			li
				a(href='/pageflows/101-500') 101&ndash;500 pageflows
			li
				a(href='/pageflows/501-1000') 501&ndash;1000 pageflows
			li
				a(href='/pageflows/1001-oo') 1001&ndash;&infin; pageflows