.pageviews-basic
	if isEmpty
		p There are no records
	else
		p pageviews - categories list
		ul
			li
				a(href='/pageviews/1-5') 1&ndash;5 pageviews
			li
				a(href='/pageviews/6-10') 6&ndash;10 pageviews
			li
				a(href='/pageviews/11-50') 11&ndash;50 pageviews
			li
				a(href='/pageviews/51-100') 51&ndash;100 pageviews
			li
				a(href='/pageviews/101-500') 101&ndash;500 pageviews
			li
				a(href='/pageviews/501-1000') 501&ndash;1000 pageviews
			li
				a(href='/pageviews/1001-oo') 1001&ndash;&infin; pageviews